html {
	box-sizing: border-box;
}
*, 
*::before,
*::after {
	box-sizing: inherit;
}
img {
	max-width: 100%;
	height: auto;
	
}
img:hover {
	transform: scale(1);
}
h4 {
	text-align: center;
}
body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	background: #e0e0e0;
	color: #1d1d1d;
}
.header{
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	background-color: #100a1f;
	color: #fff;
	padding: 1rem;
}

.header h2{
	padding: 0;
	margin: 0;
}

.contadorPag{
	padding: 1rem;
}
.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 40px auto 100px auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
}
.card {
	display: flex;
	flex-direction: column;
	justify-content: space-around;		
}
.card-img {
	transform: scale(.9);
	transition: transform .2s ease;
	cursor: pointer;
}
.card-img:hover {
	transform: scale(1);
}
.is-visible {
	display: flex;
	justify-content: center;
	align-items: center;
}

.none {
	display: none;
}

.modal {
	height: 100vh;
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #0009;
}
.card-modal {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	min-width: 300px;
	max-height: 70vh;
	overflow-y: scroll;
	margin: 0 auto;
	padding: 1rem;
	background-color: #fff;
}
.card-modal-title{
	font-size: 1.5rem;
}
.card-modal-box {
	width: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	font-size: 1.2rem;
}
.box-vote {
	display: flex;

}
.icon-vote{
	color: yellow;
}
.card-modal-box p {
	margin: 0;
}
.date-modal{
	font-weight: lighter;
}
.card-modal-p{
	margin: 0;
	padding: 0 1rem;
}
.card-modal-btn {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 1rem;
	font-weight: bolder;
	background-color: #fff;
	color: #f00;
	border: thin solid #f00;
	cursor: pointer;
}
.card-modal-btn:hover {
	background-color: #f00;
	color: #fff;
}
.paginacion {
	position: fixed;
	bottom: 0;
	background: #100a1f;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 10px;
}

.paginacion button {
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 50px;
	width: 200px;
	background: #241744;
	color: #fff;
	border-radius: 100px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	transition: .3s ease all;
}

.paginacion button:hover {
	background: #137c32;
}

@media (max-width: 768px) {
	.contenedor{
		grid-template-columns: repeat(3, 1fr);
	}
	.paginacion button{
		font-size:1.2rem;
	}
	.card-modal-box {
		width:100%;
		font-size: 1rem;
	}
}
@media (max-width: 500px) {
	.contenedor{
		grid-template-columns: repeat(2, 1fr);
	}
}